<div>
	<h3 class='title'>작업관리</h3>
	<div id='search_member' >
		<ul class='searchBox'>
			<li><button class='button' onclick="" id='searchBtn'>검색</button></li>
			<li><input type='text' id='searchBox'/></li>
			<li><button class='button' onclick="" id='deleteBtn'>삭제</button></li>
			<li><button id='selectAllBtn' class='button' onclick="">전체</button></li>
		</ul>
	</div>
	<table id='taskTable' class='tableList'>
		<tr>
		
			<th>선택</th>
			<th>번호</th>
			<th>작업명</th>
			<th>작업 내용</th>
			<th>등록일</th>
		
		</tr>
	
	
	</table>	
	<div class='paging'>
	
	</div>

</div>