<div>
	<h3 class='title'>회원관리</h3>
	<div id='search_member' >
		<ul class='searchBox'>
			<li><button class='button' onclick="" id='searchBtn'>검색</button></li>
			<li><input type='text' id='searchBox'/></li>
			<li><button class='button' onclick="" id='deleteBtn'>삭제</button></li>
			<li><button id='selectAllBtn' class='button' onclick="">전체</button></li>
		</ul>
	</div>
	<table id='memberTable' class='tableList'>
		<tr>
		
			<th>선택</th>
			<th>번호</th>
			<th>아이디</th>
			<th>E-Mail</th>
			<th>가입일</th>
		
		</tr>
	
	
	</table>	
	<div class='paging'>
	
	</div>
	<div id='admin_member_detail'>
	
	</div>
	

</div>