<div>
	<h3 class='title'>프로젝트 관리</h3>
	<div id='search_proj' >
		<ul class='searchBox'>
			<li><button class='button' id='proj_searchBtn'>검색</button></li>
			<li><input type='text' id='proj_searchBox'/></li>
			<li><button class='button' id='proj_deleteBtn'>삭제</button></li>
			<li><button class='button' id='proj_selectAllBtn'  >전체</button></li>
		</ul>
	</div>
	<table id='projcetTable' class='tableList'>
		<tr>
		
			<th >선택</th>
			<th >번호</th>
			<th >프로젝트 명</th>
			<th>시작일</th>
			<th>종료일</th>
		
		</tr>
		 <tr>
			    <td>1</td>
			    <td><a href='#' id='eom_proj'>EOM-Project</a></td>
			    <td>jQuery</td>
			    <td>2013-06-15</td>
		</tr> 
	
	</table>
	<div id='proj_paging'>
	
	</div>	

</div>