<div id='javaWrapper'>
	<div class='content'>
		<table class="tableList" >
			  <tr>
			  
			    <th><div class='th-inner'>번호</div></th>
			    <th><div class='th-inner'>제목</div></th>
			    <th><div class='th-inner'>분야</div></th>
			    <th><div class='th-inner'>등록일</div></th>
			  </tr>
			  <tr>
			    <td>td1</td>
			    <td>td2 내용이 길어지면 말줄임표가 작동</td>
			    <td>td3</td>
			    <td>td3</td>
			  </tr>
			  <tr>
			    <td>td1</td>
			    <td>td2 내용이 길어지면 말줄임표가 작동</td>
			    <td>td3</td>
			    <td>td3</td>
			  </tr>
			  <tr>
			    <td>td1</td>
			    <td>td2 내용이 길어지면 말줄임표가 작동</td>
			    <td>td3</td>
			    <td>td3</td>
			  </tr>
			   <tr>
			    <td>td1</td>
			    <td>td2 내용이 길어지면 말줄임표가 작동</td>
			    <td>td3</td>
			    <td>td3</td>
			  </tr>
			   <tr>
			    <td>td1</td>
			    <td>td2 내용이 길어지면 말줄임표가 작동</td>
			    <td>td3</td>
			    <td>td3</td>
			  </tr>
			  <tr>
			    <td>td1</td>
			    <td>td2 내용이 길어지면 말줄임표가 작동</td>
			    <td>td3</td>
			    <td>td3</td>
			  </tr>
			  <tr>
			    <td>2</td>
			    <td><a href='#' id='gnb'>GNB</a></td>
			    <td>jQuery</td>
			    <td>2013-06-15</td>
			  </tr>
			   <tr>
			    <td>1</td>
			    <td><a href='#' id='accordion'>아코디언(accordion)</a></td>
			    <td>jQuery</td>
			    <td>2013-06-15</td>
			  </tr>
		</table>
	</div>
</div>
<script>
javaBoard.init();
</script>